Release
obj
bin
deploy
node_modules
jspm_packages
packages
deploy/*
dist
_ReSharper.*
*.ccproj.user
*.csproj.user
*.DotSettings.user
*.resharper.user
*.resharper
*.suo
*.swp
*.cache
~$*
*~
.idea
.agignore
.vscode
.vs/